<template name="navbar">
	<header>
		<nav class="qiwee-color">
		    <div class="nav-wrapper"> 
		     	<a href="#" class="brand-logo center">
		     		<img class="brand-logo" src="images/logo_rond.png" width="60">
		     	</a>
		      	<ul id="nav-mobile" class="left hide-on-med-and-down">
		        	<li class="{{ activeRouteClass 'home' }}"><a class="text-qiwee-color" href="">Stream</a></li>
		        	<li><a class="text-qiwee-color" href="badges.html">Vidéos</a></li>
		    	</ul>
		    	<ul class="right hide-on-med-and-down">
						{{> loginButton}}
		    	</ul>
			</div>
		</nav>	
	</header>
</template>